.App {
  text-align: center;
}

.columns {
  width: 1000px;
  margin: 0 auto;
  /* 2-liner 实现分屏 */
  display: grid;
  grid-template-areas: "primary secondary";
}

.primary {
  width: 700px;
  background: #eee;
  /* background-color: blue; */
}

.secondary {
  width: 300px;
  background: #999;
  /* background-color: red; */
}
